// Common styles of the project

html, body {
  height: 100%;
  color: #5d5a59;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 35px;
}

.container{

}


.page {
}


.page__wrapper {
  min-height: 100%;
  padding-bottom: 25px;

}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    //height: 50px;
}
body {
  //height: 400vh;
  //padding-top: 90px;
}

.copyright{
  color: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  display: table;
  >*{
    display: table-cell;
    vertical-align: middle;
    +*{
      padding-left: 35px;
    }
  }
  &__icon{
    >*{
      margin-top: -7px;
    }
  }
  &__title{}
}

.well-two{
  background-color: #ede8d9;
  border-radius: 6px;
  padding: 35px 53px;
  color: #4a4646;
  position: relative;
  &:after{
    content: '';
    @include bg($well-two-after);
    position: absolute;
    left: -19px;
    top: 39px;
  }
  &__phone{
    color: black;
    font-size: 36px;
    font-weight: 300;
    line-height: 39px;
    display: block;
    margin-bottom: 20px;
  }
  p{
    margin-bottom: 15px;
  }
}