// Common styles of the project

html, body {
  height: 100%;
  color: #5d5a59;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 35px;
}

.container{

}


.page {
}


.page__wrapper {
  min-height: 100%;
  padding-bottom: 25px;

}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    //height: 50px;
}
body {
  //height: 400vh;
  //padding-top: 90px;
}

.copyright{
  color: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  display: table;
  >*{
    display: table-cell;
    vertical-align: middle;
    +*{
      padding-left: 35px;
    }
  }
  &__icon{
    >*{
      margin-top: -7px;
    }
  }
  &__title{}
}