// GUI stylies of the project
// For example, styles of the links, buttons and so on.

@import "libraries/bootstrap/scaffolding";
@import "libraries/bootstrap/buttons";
@import "libraries/bootstrap/type";
@import "libraries/bootstrap/breadcrumbs";
@import "libraries/bootstrap/tables";
@import "libraries/bootstrap/forms";
@import "libraries/bootstrap/navs";
@import "libraries/bootstrap/dropdowns";

a{
  color: #946425;
  cursor: pointer;
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:not(.not-styleLink){
    @include link-border-color(#946425);
  }
  .not-styleLink{
    text-decoration: underline;
  }
}

.ttu{
  text-transform: uppercase;
}

.icon-title{
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #323030;
  font-size: 0;
  white-space: nowrap;
  margin: -2px -9px;
  >*{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    padding: 2px 9px;
  }
  &-el{
  }
  &-title{
    font-size: 13px;
    span{
      border-bottom: 1px solid transparent;
    }
  }
}
.db{
  display: block;
}

a.icon-title{
  .icon-title-title{
    color: #a38e61;
  }
  &:hover{
    .icon-title-title{
      span{
        border-color: rgba(163, 142, 97, 0.6);
      }
    }
  }
}
.icon-title-table{
  display: table;
  >*{
    display: table-row;
    margin: 0;
    >*{
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      +*{
        padding-left: 18px;
      }
    }
  }
}

.not-styleLink{
  a{
    border-bottom: none;
  }
}

h1, .h1{
  color: black;
  font-size: 52px;
  font-weight: 300;
  line-height: 53px;
  margin-bottom: 30px;
  &:first-child{
    margin-top: 0;
  }
}

h2, .h2{
  color: #bfa671;
  font-size: 42px;
  font-weight: 100;
  line-height: 50px;
  margin-bottom: 25px;
  &:first-child{
    margin-top: 0;
  }
}

.h2{
  &_margin-big{
    margin-bottom: 40px;
  }
}

h3, .h3{
  color: #70747b;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 25px;
  margin-top: 25px;
  &:first-child{
    margin-top: 0;
  }
}

p {
  margin-bottom: 20px;
}

hr{
  border-color: #cccccc;
  margin: 45px 0;
}

.p-bottom-margin-min{
  p{
    margin-bottom: 10px;
  }
}

//ol, ul{
//  list-style: none;
//  padding: 0;
//  li{
//    position: relative;
//    padding-left: 32px;
//  }
//}
//ol{
//  li {
//    counter-increment: li;
//    padding-left: 37px;
//    &:after {
//      content: counter(li);
//      width: 16px;
//      height: 16px;
//      top: 3px;
//    }
//  }
//}

.tableWrap{
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  table{
    margin-bottom: 0;
  }
}


table{
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  &:not(.not_style_default){
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
  }

  tbody > tr{
    color: #5d5a59;
  }

}

.db{
  display: block;
}

.pagination{
  @include nl;
  font-size: 0;
  margin: 20px -5px;
  margin-bottom: -5px;

  li{
    display: inline-block;
    font-weight: 400;
    padding: 5px;
    &:not(.active){
      >*{
        &:hover{
          //outline: 2px solid #fd6910;
          //outline-offset: -2px;
          //color: #fd6910;
          border-color: #0b6ab3;
        }
      }
    }
    &.active{
      >*{
        background-color: #fc0;
        color: black;
        span{
          border-bottom-color: transparent;
        }
      }
    }
    &.next{
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
      >*{
        //border: 1px solid #bebebe;
        padding: 0 15px;
      }
      i{
        margin-left: 40px;
        margin-top: -2px;
      }
    }
    >*{
      width: 35px;
      height: 35px;
      display: block;
      text-align: center;
      line-height: 38px;
      font-weight: 400;
      text-decoration: none;
      color: #575757;
      border: none;
      font-size: 18px;
      span{
        @include link-border-color(#575757);
      }
      small{
        font-size: 12px;
      }
    }
  }
}

.bootstrap-select.btn-group{
  position: relative;
  .dropdown-toggle{
    color: currentColor;
    background-color: white;
    border: 2px solid #c1c1c1;
    border-radius: 20px;
    height: 40px;
    line-height: 45px;
    padding: 0 15px;
    font-size: 16px;
    padding-right: 40px;
    .filter-option{
      display: inline-block;
      line-height: normal;
      font-style: normal;
      color: inherit;
      font-size: 15px;
      font-weight: 400;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .bs-caret{
    background-color: transparent;
    line-height: 21px;
    right: 11px;
    .caret{
      border-top-color: #1a1b1b;
      border-top-width: 8px;
      border-left-width: 4px;
      border-right-width: 4px;
      margin-left: -1px;
    }
  }
  &:not(.select-inner){
    &.open{
      &:not(.dropup){
        .dropdown-toggle{
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      &.dropup{
        .dropdown-toggle{
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
    &:not(.dropup){
      .dropdown-menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
        margin-top: -4px;
        box-shadow: none;
        width: 100%;
      }
    }
    &.dropup{
      .dropdown-menu {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        margin-bottom: -4px;
        box-shadow: none;
        width: 100%;
      }
    }
  }
  &.select-inner{
    width: auto !important;
    .dropdown-toggle{
      width: auto !important;
      display: inline-block;
      height: 25px;
      background-color: transparent;
      border: none;
      padding: 0;
      padding-right: 25px;
      .filter-option{
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        color: currentColor;
        max-width: 160px;
        display: block;
        margin-top: 2px;
        padding-left: 4px;
      }
      .bs-caret {
        background-color: transparent;
        line-height: normal;
        right: 0;
        margin: 0;
        top: 50%;
        margin-top: -9px;
        height: 7px;
        .caret {
          border-top-color: currentColor;
          border-top-width: 7px;
        }
      }
    }
  }
  &.select-width{

  }
}

.slick-dots{
  @include nl;
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-top: 20px;
  //margin: 10px 0;
  li{
    display: inline-block;
    padding: 6.5px;
    &.slick-active{
      button{
        &:after{
          background-color: $mainColor;
          border-color: $mainColor;
        }
        &:before{
          opacity: 1;
        }
      }
    }
    button{
      @include btn-clear;
      position: relative;
      &:hover{
        &:after{
          //background-color: rgb(202, 202, 202);
        }
      }
      &:after{
        content: '';
        display: block;
        width: 17px;
        height: 17px;
        background-color: transparent;
        border: 2px solid $mainColor;
        border-radius: 50%;
      }
    }
  }
}

.mobile-list-anim{
  display: inline-block;
  //float: left;
  width: 100%;
  position: relative;
  .menuTopMobel{
    color: currentColor;
    display: block;
    text-align: left;
    border-bottom: none;
    border-top: none;
    outline: none;
    margin-bottom: 0;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    .menu-icon{
      fill: currentColor;
      display: inline-block;
      vertical-align: middle;
      pointer-events: none;
      svg{
        display: block;
      }
    }
    .menu-mobile{
      pointer-events: none;
      background: transparent;
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 22px;
      color: currentColor;
      text-align: center;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      transition: transform ease-out 200ms;
      &-hamburger{
        width: 24px;
        height: 4px;
        background: currentColor;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12px;
        margin-top: -2px;
        transition: transform 200ms;
        &.one{
          -webkit-transform: translate3d(0, -9px, 0);
          transform: translate3d(0, -9px, 0);
        }
        &.two{
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
        &.three{
          -webkit-transform: translate3d(0, 9px, 0);
          transform: translate3d(0, 9px, 0);
        }
      }
    }
    .menu-text{
      //margin-top: -4px;
      //margin-right: 20px;
      margin-top: 4px;
      margin-left: 15px;
      display: inline-block;
      vertical-align: middle;
      pointer-events: none;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
    }
  }
  input[type="checkbox"]{
    display: none;
    &:checked {
      & ~ .menuTopMobel {
        .menu-mobile {
          &-hamburger {
            &.one {
              -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
              transform: translate3d(0, 0, 0) rotate(45deg);
            }
            &.two {
              -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
              transform: translate3d(0, 0, 0) scale(0.1, 1);
            }
            &.three {
              -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
              transform: translate3d(0, 0, 0) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}



.well{
  background-color: rgba(243, 239, 231, 0.5);
  padding: 70px 0;
  &_margin-bottom{
    margin-bottom: -50px;
  }
}

.icon-link{
  display: table;
  color: #010101;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  >*{
    display: table-cell;
    vertical-align: top;
    +*{
      padding-left: 32px;
    }
  }
  &__icon{
    i{
      margin-top: -2px;
    }
  }
  &__title{
    span{

    }
  }
}

.icon-linkList{
  //margin: -15px 0;
  .icon-link{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.list-icon{
  @include nl;
  display: table;
  line-height: 30px;
  margin: 20px 0;
  &__item{
    display: table-row;
    >*{
      display: table-cell;
      vertical-align: middle;
      &:first-child{
        padding-left: 20px;
      }
      +*{
        padding-left: 44px;
      }
    }
    +*{
      >*{
        padding-top: 55px;
      }
    }
  }
}

.link-table{
  display: table;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  &__cell{
    display: table-cell;
    vertical-align: middle;
    +.link-table__cell{
      padding-left: 31px;
    }
  }
}
.text-big{
  color: #e31a49;
  font-weight: 100;
  font-size: 28px;
  line-height: 37px;
  b{
    font-weight: 500;
  }
}

.color-cream-two{
  color: rgba(191, 166, 113, 1);
  .color-cream-two__title{
    border-bottom: 1px solid transparent;
    &_viewBorder{
      border-bottom-color: rgba(191, 166, 113, 0.3);
    }
  }
  &:hover{
    .color-cream-two__title{
      border-bottom-color: rgba(191, 166, 113, 0.6);
    }
  }
}
.color-cream{
  color: #e1ba66;
  .color-cream__title{
    border-bottom: 1px solid transparent;
    &_viewBorder{
      border-bottom-color: rgba(225, 186, 102, 0.3);
    }
  }
  &:hover{
    .color-cream__title{
      border-bottom-color: rgba(225, 186, 102, 0.6);
    }
  }
}
.color-white{
  color: #fff;
  .color-white__title{
    border-bottom: 1px solid transparent;
    &_viewBorder{
      border-bottom-color: rgba(225, 225, 225, 0.3);
    }
  }
  &:hover{
    .color-white__title{
      border-bottom-color: rgba(225, 225, 225, 0.6);
    }
  }
}
.color-green{
  color: rgba(178, 175, 170, 1);
  .color-green__title{
    border-bottom: 1px solid transparent;
    &_viewBorder{
      border-bottom-color: rgba(178, 175, 170, 0.3);
    }
  }
  &:hover{
    .color-green__title{
      border-bottom-color: rgba(178, 175, 170, 0.6);
    }
  }
}
.color-green-two{
  color: rgba(93, 90, 89, 1);
  .color-green__title{
    border-bottom: 1px solid transparent;
    &_viewBorder{
      border-bottom-color: rgba(93, 90, 89, 0.3);
    }
  }
  &:hover{
    .color-green__title{
      border-bottom-color: rgba(93, 90, 89, 0.6);
    }
  }
}

.color-black{
  color: rgba(1, 1, 1, 1);
  .color-green__title{
    border-bottom: 1px solid transparent;
    &_viewBorder{
      border-bottom-color: rgba(1, 1, 1, 0.3);
    }
    &_dotted{
      border-bottom-style: dotted;
    }
  }
  &:hover{
    .color-green__title{
      border-bottom-color: rgba(1, 1, 1, 0.6);
    }
  }
}