html{
  overflow-x: hidden;
}
body, html{
  min-width: 320px;
}

@include my-media-query(max, map_get($grid-breakpoints, xl) - 1) {
  .header {
    &__phone {
      font-size: 17px;
    }
    &__nav{
      ul{
        margin: 0 -18px;
        li{
          font-size: 14px;
          a{
            padding: 0 18px;
          }
        }
      }
    }
  }

}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
  .listItem{
    margin: -15px;
    &__section{
      padding: 15px;
    }
  }
  .item{
    &__title{
      font-size: 17px;
    }
    &__desc{
      font-size: 12px;
    }
    &__btn-map{
      font-size: 12px;
    }
    &__price{
      font-size: 14px;
      padding: 9px 10px;
      &:after{
        border-top-width: 32px;
      }
      &:before{
        border-bottom-width: 32px;
      }
    }
  }
  html, body {
    font-size: 15px;
    line-height: 25px;
  }
  h1, .h1 {
    font-size: 47px;
    line-height: 49px;
    margin-bottom: 22px;
  }
  h2, .h2 {
    font-size: 37px;
    line-height: 41px;
    margin-bottom: 20px;
  }
  .list-icon__item + * > * {
    padding-top: 35px;
  }

  .header{
    padding-top: 50px;
    &-bottom{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      padding: 12.5px 0;
    }
    &__nav{
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #1f1c20;
      padding: 15px 0;
      display: none;
      ul{
        margin: 0;
        display: block;
        li{
          display: block;
          +li{
            border-top: 1px solid rgba(255, 255, 255, 0.1);
          }
          a{
            display: block;
            line-height: 18px;
            padding: 14px 8px;
          }
        }
      }
    }
  }

}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {

}

@include my-media-query(min, map_get($grid-breakpoints, md)) {

}

@include my-media-query(min, map_get($grid-breakpoints, lg)) {
  .header {
    &.fix{
      padding-bottom: 52px;
      .header-bottom{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
      }
      .header__nav{
        ul{
          margin: 0 -15px;
          li{
            font-size: 14px;
            a{
              padding: 0 15px;
            }
          }
        }
        &-blockViewFix{
          display: block;
        }
      }
    }
    &__nav {
      display: block !important;
      .container{
        padding: 0;
        width: auto;
      }
    }
  }

}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {

}

@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  .listItem{
    &__section{
      width: 50%;
    }
  }

  .callback {
    padding-bottom: 30px;
    &__title {
      font-size: 21px;
      line-height: 27px;
    }
  }
  #yamap-contacts{
    height: 400px;
  }
  .well-two{
    padding: 20px 15px;
    border-radius: 0;
    margin: 0 -15px;
    &:after{
      display: none;
    }
    &__phone {
      font-size: 30px;
    }
  }

  table {
    font-size: 13px;
    line-height: 17px;
  }
  .footer {
    &__nav {
      margin-bottom: 30px;
      ul {
        li {
          line-height: normal;
          a {
            padding: 10px 18px;
          }
        }
      }
    }
  }
  .well{
    padding: 50px 0;
  }
}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  .listItem{
    &__section{
      width: 100%;
    }
  }
  .item {
    &__btn-map {
      &:before {
        margin-right: 7px;
      }
    }
  }

  .callback {
    .form-control{
      text-align: center;
    }
  }
  .well{
    //padding: 30px 0;
  }
  .icon-link{
    >*{
      +*{
        padding-left: 15px;
      }
    }
  }
  .list-icon{
    margin: 0;
    &__item{
      line-height: 25px;
      &> * + * {
        padding-left: 15px;
      }
      &> *:first-child {
        padding-left: 0;
      }
    }
  }
  .list-icon__item + * > * {
    padding-top: 20px;
  }

  h1, .h1 {
    font-size: 37px;
    line-height: 41px;
    margin-bottom: 13px;
  }
  h2, .h2 {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 11px;
  }

  html, body {
    font-size: 14px;
  }
}
